

.card {
 width: 540px;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}
.card__list {
  padding: 0;
}
.card__list-item {
 display: flex;
 font-family: "Noto Serif",Arial,sans-serif;
 margin: 0;
 padding: 0;
 margin-top: 16px;
}

.card__list-divider {
 flex-grow: 3;
 border-bottom: #000000 1px solid;
}