


.nav {
  position: relative;
  display: flex;
  justify-content: end;
  right: 0px;
  padding: 30px 80px 0 0;
}

.nav__links {
  display: flex;
  align-items: center;
  margin: 0;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  font-weight: 500;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.nav__link:hover {
  color: #2f80ed;
  transition: color .5s ease-in-out;
}


